<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <form #form="ngForm" [formGroup]="clienteForm" (submit)="submit()">
    <div>
      <ng-container *ngFor="let validation of validationMessages.nombre">
        <div *ngIf="clienteForm.get('nombre')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </ng-container>
      <ng-container *ngFor="let validation of validationMessages.email">
        <div *ngIf="clienteForm.get('email')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </ng-container>
      <ng-container *ngFor="let validation of validationMessages.ingreso">
        <div *ngIf="clienteForm.get('ingreso')?.hasError(validation.type)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <!-- <ion-list *ngIf="hasErrors">
      <ion-label *ngFor="let errorMessage of errorsMessage">
        {{errorMessage}}
      </ion-label>
    </ion-list> -->
    <ion-item lines="none">
      <ion-label position="floating">
        Nombre
      </ion-label>
      <ion-input type="text" formControlName="nombre">
      </ion-input>
      <!-- <small class="error-message" *ngIf="clienteForm.get('nombre')!.errors?.['required'] ||
        clienteForm.get('nombre')!.errors?.['minlength'] ||
        clienteForm.get('nombre')!.errors?.['maxlength'] && form.submitted">
        Ingrese un nombre (de 3 a 5 caracteres)
      </small> -->
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Email
      </ion-label>
      <ion-input [(ngModel)]="cliente.email" type="email" formControlName="email"></ion-input>
      <!-- <small class="error-message"
        *ngIf="clienteForm.get('email')!.errors?.['required'] || clienteForm.get('email')!.errors?.['email']">
        Igrese un Email válido
      </small> -->
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">
        Teléfono
      </ion-label>
      <ion-input [(ngModel)]="cliente.telefono" type="tel" formControlName="telefono"></ion-input>
      <!-- <small class="error-message"
        *ngIf="clienteForm.get('telefono')!.errors?.['required'] && (form.submitted || clienteForm.get('telefono')!.touched)">
        Ingrese un teléfono válido
      </small> -->
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">
        Ingreso
      </ion-label>
      <ion-input [(ngModel)]="cliente.ingreso" type="number" formControlName="ingreso" text-right></ion-input>
      <!-- <small class="error-message" *ngIf="clienteForm.get('ingreso')!.errors?.['required'] ||
        clienteForm.get('ingreso')!.errors?.['min']">
        Ingrese su ingreso
      </small> -->
    </ion-item>
    <div *ngIf="isBrowserPlatform; else showNative">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <ion-item lines="none">
              <ion-label position="floating">Nacimiento</ion-label>
              <ion-input [value]="fechaSeleccionada" [readonly]="true"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col class="ion-no-padding">
            <ion-item lines="none">
              <ion-button fill="clear" id="open-date-input" class="ion-no-margin;ion-no-padding">
                <ion-icon icon="calendar"></ion-icon>
              </ion-button>
              <ion-popover trigger="open-date-input" show-backdrop="false" [dismissOnSelect]="true">
                <ng-template>
                  <ion-datetime minuteValues="0,15,30,45" dayValues="5,10,15,20,25,30"></ion-datetime>
                </ng-template>
              </ion-popover>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ng-template #showNative>
      <div (click)="selecionarFecha()">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="9">
              <ion-item lines="none">
                <ion-label position="stacked">Nacimiento</ion-label>
                <ion-input formControlName="nacimiento"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col class="ion-no-padding">
              <ion-item lines="none">
                <ion-button fill="clear" class="ion-no-margin;ion-no-padding">
                  <ion-icon icon="calendar"></ion-icon>
                </ion-button>

              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
    <ion-button shape="round" color="primary" expand="block" padding type="submit">
      Confirmar
    </ion-button>
  </form>

</ion-content>