<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Editar cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label pisition="stacked">Nombre</ion-label>
    <ion-input type="text" placeholder="Ingrese nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label pisition="stacked">Email</ion-label>
    <ion-input type="email" placeholder="Ingrese email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label pisition="stacked">Teléfono</ion-label>
    <ion-input type="tel" placeholder="Ingrese teléfono"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label pisition="stacked">Número</ion-label>
    <ion-input type="number" placeholder="Número ingreso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label pisition="stacked">Nacimiento</ion-label>
    <ion-input type="text" placeholder="Ingrese nacimiento"></ion-input>
  </ion-item>
  <ion-button shape="round" color="primary" expand="block" padding>
    Confirmar
  </ion-button>
</ion-content>
