<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong>Hello David</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>This is an app that uses Aionic</strong>
    <p>Starting, <a target="_blank" rel="noopener noreferrer" href="https://github.com/JDavidCcori/projectForAppHybrid">root in GitHub</a></p>
  </div>
</ion-content>
